<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Recipe Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
				<h1 class="panel-title">My Recipes!!!!!</h1>
				</div>
				
				<div class="panel-body">
					<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
						<table class="table table-hover">
							<thread class="thread-inverse"> 
							<tr>
								<th>ID</th>
								<th>Description</th>
							</tr>
							</thread>
							<tr th:each="recipe : ${recipes}">
								<td th:text="${recipe.id}">123</td>
								<td th:text="${recipe.description}">Tasty Goodness</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>